# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.sqlite3
*.env
env/
venv/

# =========================
# Node / Electron
# =========================
node_modules/
dist/
build/
out/
release/

NeoBrowser/node_modules/
NeoBrowser/dist/
NeoBrowser/build/
NeoBrowser/venv/

# logs
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
