{% extends "myapp/base.html" %}
{% block title %}Metamorphosis{% endblock title %}
{% block body %}
  <section class="py-4 py-xl-5 pb-5 mb-5 mt-2">
        <div class="uk-animation-fade mt-5 container pb-5 mt-2 rounded" style="background-image: url('/static/myapp/images/lightning.gif');background-repeat: no-repeat;background-position: center">
            <div class="row">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div class="mb-3">
                        <p class="pt-5 mt-5">Welcome to cyber analyst's favourite</p>
                        <div class="display-1 fw-bold mb-5" style="color: white;text-shadow: 2px 2px 10px chartreuse;font-family: ares;">Metamorphosis</div>
                        <p class="mb-5">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p>
                        <!--<a href="{% url "login" %}"><button class="btn btn-outline-primary me-3" type="button">Sign in</button></a>
                        <a href="{% url "register" %}"><button class="btn btn-outline-danger" type="button">Sign up</button></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    



<div id="carouselExampleCaptions" class="carousel slide pt-5 mt-5 pb-5">
  <div class="carousel-inner">
    
      <img src="/static/myapp/images/wccs.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="display-5 pb-5 fw-bold mb-5" style="color: white; background:linear-gradient(120deg,cyan,transparent,cyan);">WANT TO CREATE CAREER IN CYBER SECURITY?</div>
        <p class="pt-5 mt-5"><span class="p-2 ps-5 pe-5 rounded btn" style="font-weight: bolder; background-color: chartreuse; font-family: aq;">Start Learning</span></Start></p>
      </div>
    </div>
</div>

<div id="carouselExampleCaptions" class="carousel slide pt-5 mt-5 pb-5">
  <div class="carousel-inner">
    
      <img src="/static/myapp/images/hars.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="display-5 pb-5 fw-bold mb-5" style="color: white; background:linear-gradient(120deg,red,transparent,red);">HACKERS ARE UPGRADING THEMSELVES !</div>
        <p class="pt-5 mt-5"><span class="p-2 ps-5 pe-5 rounded btn" style="font-weight: bolder; background-color: chartreuse; font-family: aq;">Start Upgrading</span></Start></p>
      </div>
    </div>
</div>








 <div class="container p-1">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold" style="color: chartreuse; font-family: aq;">Cyber Crime AND PUNISHMENT</h2>
                    <p class="my-3">Know the ACTs and Panalties regarding Cyber Crimes.</p><a class="btn btn-primary me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary" role="button" href="#">Button</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://media.istockphoto.com/id/817486272/photo/fully-armed-special-cybersecurity-forces-soldier-arrests-highly-dangerous-hooded-hacker.jpg?s=612x612&w=0&k=20&c=3ZLfNk2F_3dUQesf4xffi8Prhf17Bi363UhR6Zuirw4="></div>
            </div>
        </div>
    </div>





    <div class="container p-1">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://www.scottishhousingnews.com/uploads/Cyber Security PIXA.jpg"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold" style="color: chartreuse; font-family: aq;">Learn the algorithm of hacking</h2>
                    <p class="my-3">There is a saying "You want to fight with hacker, then you have to think like hacker."</p><a class="btn btn-primary me-2" role="button" href="#">Login</a><a class="btn btn-outline-primary" role="button" href="#">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-1">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h2>
                    <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://cybersecurityventures.com/wp-content/uploads/2024/02/blogphoto4.jpg"></div>
            </div>
        </div>
    </div>


   






    <section>
        <div style="height: 600px;background: url(&quot;https://i2.pickpik.com/photos/157/1014/336/hacking-coding-code-hack-preview.jpg&quot;) center / cover;"></div>
        <div class="container h-100 position-relative" style="top: -50px;">
            <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6"></path>
                                </svg></div>
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="#">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                </svg></a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                                    <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
                                    <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                                </svg></div>
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="#">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                </svg></a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-flag">
                                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                </svg></div>
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="#">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                </svg></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="text-white py-4 py-xl-5 pb-5 mb-3">
        <div class="container">
            <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url(&quot;https://extensia.tech/wp-content/uploads/2024/07/Copy-of-Blue-Modern-Gradient-Beauty-And-Fashion-Blog-Banner-2024-07-10T161619.685-1024x512.png&quot;) center / cover;height: 500px;">
                <div class="row">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold mb-3 text-light">Biben dum<br>fringi dictum, augue purus</h1>
                            <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Button</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



     <section class="text-white py-4 py-xl-5 pb-5 mb-5">
        <div class="container">
            <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url('/static/myapp/images/—Pngtree—parents\ and\ children\ enjoying\ outdoor_17242694.jpg') center / cover;height: 500px;">
                <div class="row">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold mb-3 text-light">Biben dum<br>fringi dictum, augue purus</h1>
                            <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Button</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="text-white py-4 py-xl-5 pb-5 mb-3">
        <div class="container">
            <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url(&quot;https://media.istockphoto.com/id/2192728510/photo/military-hackers-working-on-cyber-security-in-a-high-tech-government-center.jpg?s=612x612&w=0&k=20&c=DVQJrs4LvKYU1yi_KRJOKBLQUNvUavaXh7fNhohigZs=&quot;) center / cover;height: 500px;">
                <div class="row">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold mb-3 text-light">Biben dum<br>fringi dictum, augue purus</h1>
                            <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Button</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    
   
       
    </div>

{% endblock body %}
