{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Leaderboard{% endblock title %}

{% block body %}
<div class="container mt-5" style="min-height: 100vh;">
    <div class="display-3 text-center mb-4" style="font-family: aq; border-bottom: 1px dotted rgb(0, 0, 0); color: rgb(5, 5, 5);">
        Leaderboard
    </div>

    <table class="table table-light table-hover text-center" style="color: black !important;">
        <thead class="table-dark">
            <tr>
                <th>Rank</th>
                <th>Profile</th>
                <th>Username</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr {% if request.user.username == profile.username %} style="background-color: gold; color: black;" {% endif %}>
                <td>{{ profile.rank }}</td>
                <td>
                    <a href="{% url 'profile_view_other' profile.user_id %}">
                        {% if profile.profile_pic %}
                            <img src="{{ profile.profile_pic }}" alt="{{ profile.username }}" style="height: 3rem; color: black !important;">
                        {% else %}
                            <img src="{% static 'myapp/images/default_avatar.png' %}" alt="Default Avatar" style="height: 3rem; color: black !important;">
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'profile_view_other' profile.user_id %}" class="text-dark">
                        {{ profile.username }}
                    </a>
                </td>
                <td>{{ profile.points }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No users yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
