{% extends "myapp/base.html" %}
{% block body %}
<div class="container mt-5 text-center" style="min-height: 10vh;">
    <div class="display-1 pt-5">Download Now!</div>
    <p>Click the button below to download Community Edition</p>

    <a href="{% url 'download_create_vuln_bank' %}" class="btn btn-primary">
        Metamorphosis_Community_Edition
    </a>

    <p class="text-muted mt-5">Thank you very much and have a great life in Cyber Security.</p>



</div>

<script>
  document.querySelectorAll('code').forEach(code => {
    code.style.backgroundColor = 'red';
    code.style.color = 'white';
  });
</script>

{% endblock body %}
